<script src="/javascripts/square.js"></script>
<script src="/javascripts/squareFactory.js"></script>
<script src="/javascripts/game.js"></script>
<script src="/javascripts/twoLocal.js"></script>
<script src="/javascripts/twoRemote.js"></script>
<script src="/javascripts/twoScript.js"></script>
</body>

</html>