<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <style>
        div.reg {
            width: 400px;
            padding: 40px 20px;
            margin: 0 auto;
            /* border: 1px solid black; */
        }

        input {
            height: 30px;
            width: 330px;
            margin: 5px 0;
            /* background-color: antiquewhite; */
        }

        button {
            margin: 10px 0 0 0;
        }

        .nav_ul li.nav_left {
            float: left;
            margin: 0 0 0 30px;
        }
    </style>