<style>
    .nav_ul li.nav_left {
        float: left;
        margin: 0 0 0 30px;
    }

    
</style>
</head>

<body>
    <div class="nav_top">
        <ul class="nav_ul">
            <li class="login">
                <a id="name" href="/data"><%= user.Name %></a>
            </li>
            <li class="waiting" id='waiting'></li>
            <li class="nav_left"><a href="/">TETRIS</a></li>
        </ul>
    </div>